name: publish to pypi

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - 3.14
    permissions:
      id-token: write  # OIDC publishing https://docs.pypi.org/trusted-publishers/adding-a-publisher/

    steps:
      - name: download files to be published
        uses: dawidd6/action-download-artifact@v14
        with:
          workflow: wheels.yml
          commit: ${{ github.sha }}
          name: cibw-.*
          name_is_regexp: true
          path: dist
          if_no_artifact_found: fail

      - name: move wheels here
        run: |
          mv dist/*/* dist/
          rm -r dist/*/

      - name: list files to be published
        run: ls -alh dist/

      - name: publish
        uses: pypa/gh-action-pypi-publish@release/v1
