name: tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - 3.14
          - 3.14t

    name: ${{ matrix.os }} / ${{ matrix.python-version }}

    env:
      UV_NO_SYNC: 1

    steps:
      - uses: actions/checkout@v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - run: python --version --version && which python
      - run: uv venv
      - run: uv pip install pip
      - name: install dependencies & cereggii
        run: |
          uv run pip -V
          uv run pip install ".[dev]" -C "override=cmake.build_type=Debug"
      - name: test with pytest
        run: |
          for _ in {1..200}; do uv run pytest || break; done
