name: checks

on:
  pull_request:

jobs:
  tests:
    uses: ./.github/workflows/reusable-tests.yml
    name: tests${{ '' }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.10"
          - 3.11
          - 3.12
          - 3.13
          - 3.13t
          - 3.14
          - 3.14t
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      build-type: Debug
