name: Thread Sanitizer

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tsan:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/nascheme/cpython-tsan:3.14t
    steps:
      - uses: actions/checkout@v6
      - name: install dependencies & cereggii
        env:
          PIP_ROOT_USER_ACTION: ignore
        run: |
          CEREGGII_TSAN=enabled \
          pip install ".[dev]"
      - name: Test
        run: |
          TSAN_OPTIONS="suppressions=$GITHUB_WORKSPACE/tools/tsan/suppressions.txt" \
          pytest -s
